*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page2btn{
    width: 5rem;
    height: 3rem;
}